body {
  background-color: black;
  color: white;
}

h3 {
  margin-top: 2%;
}

.container {
  border: 5px solid green;
}

#navbar {
  text-align: center;
  border-bottom: 5px solid red;
  background-color: green;
  width: 100%;
  text-shadow: 2px 2px black;
}

#pizza img {
  float: right;
}

#options label {
  margin-top: 4%;
}

#buttonBox {
  margin-top: 12%;
  margin-bottom: 2%;
}

#orderBox {
  text-align: center;
}

